<div class="mt-4">
  <h3>Create</h3>
  <form method="POST" action="/authors/store">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="description">BirthDate:</label>
      <input class="form-control" data-date-format="dd-mm-yyyy" name="birthdate" id="datepicker" />
    </div>
    <label for="exampleFormControlSelect1">Gender</label>
    <select name="gender" class="form-control" id="exampleFormControlSelect1">
      <option value="">Select....</option>
      <option value="true">Male</option>
      <option value="false">Female</option>
    </select>
    <div>
      <button type="submit" class="btn btn-success mt-4">Create</button>
      <a class="btn btn-primary mt-4" href="/authors/index" role="button">Cancel</a>
    </div>
  </form>
</div>

<script type="text/javascript">
  $('#datepicker').datepicker({ weekStart: 1, daysOfWeekHighlighted: "6,0",
  autoclose: true, todayHighlight: true, });
  $('#datepicker').datepicker("setDate", new Date());
</script>