<div class="mt-4">
  <div class="col-lg-3">
    <h1>Detail author</h1>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{authors.name}}</td>
        </tr>
        <tr>
          <th scope="row">BirthDate</th>
          <td> {{formatDate authors.birthdate "MM-DD-YYYY"}}</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>{{#if authors.gender}}
                <p>Female</p>
              {{else}}
                <p>Male</p>
              {{/if}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div><a class="btn btn-primary mt-4" href="/authors/index" role="button">Cancel</a></div>
</div>